<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284333063897-63m6dv26va5pla5au4n7769503b6t82v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284333063897-63m6dv26va5pla5au4n7769503b6t82v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284333063897-hr78foi24fs054mlj6djatr3ua5smvq7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrhbu7ewysLW2Tqu-gHqc-HPSA8F7eFTE</string>
	<key>GCM_SENDER_ID</key>
	<string>284333063897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.qatraApp</string>
	<key>PROJECT_ID</key>
	<string>qaterhapp</string>
	<key>STORAGE_BUCKET</key>
	<string>qaterhapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284333063897:ios:26d3de5fe0d9bcd58b88c8</string>
	<key>DATABASE_URL</key>
	<string>https://qaterhapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>